<%= form_for(@usage) do |f| %>
  <%= render 'layouts/errors', object: @usage %>
  <div class='field'>
    <%= f.label :'Enter Used Unit' %>
    <%= f.number_field :used_unit, required: true, min: 1 %>
  </div>
  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>