<div class='row'>
  <div class='col-lg-4 col-md-6 ml-auto mr-auto'>
    <h1 class='text-center'>Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row mb-3">
        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
            <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="row mb-3">
          <div class="col-sm-9 offset-sm-2">
              <div class="form-check">
                <%= f.check_box :remember_me, class: 'form-check-input' %>
                <label class="form-check-label" for="checkRemember">Remember me</label>
              </div>
          </div>
        </div>
      <% end -%>
      <div class="row mb-3">
          <div class="col-sm-9 offset-sm-2">
              <%= f.submit 'Log in', class: 'btn btn-primary btn-block btn-lg' %>
          </div>
      </div>
    <% end %>
    <div class='text-center'>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
