<tr>
  <td><%= transaction.id %></td>
  <td><%= transaction.user_id %></td>
  <td><%= transaction.amount %></td>
  <td><%= transaction.transactions_date %></td>
  <td><%= transaction.bill_status %></td>
</tr>