<tr>
  <td><%= feature.id %></td>
  <td><%= feature.name %></td>
  <td><%= feature.code %></td>
  <td><%= feature.unit_price %></td>
  <td><%= feature.max_unit_limit %></td> 
  <td><%= feature.plan_id %> </td>
</tr>
