<%= form_with(model: [ @plan, @plan.features.build]) do |features_form| %>
  <div>    
    <div  class='form-group'>
      <%= features_form.label :'Feature Name' %>
      <%= features_form.text_field :name, required: true, class: 'form-control' %>
    </div>
    <div  class='form-group'>
      <%= features_form.label :'Feature Code' %>
      <%= features_form.number_field :code, required: true, min: 1, class: 'form-control' %>
    </div>
    <div  class='form-group'>
      <%= features_form.label :'Feature unit price' %>
      <%= features_form.number_field :unit_price, required: true, min: 1, class: 'form-control' %>
    </div>
    <div  class='form-group'>
      <%= features_form.label :'Feature max unit limit' %>
      <%= features_form.number_field :max_unit_limit, required: true, min: 1, class: 'form-control' %>  
    </div>
  </div>
  <br>
  <div>
    <%= features_form.submit class:'btn btn-info' %>
  </div>
<% end %>

